.post {
  display: flex;
  flex-direction: row;
  gap: 16px;

  a {
    color: unset;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }

  h6{
    align-self: center;
  }
}