.postHeader {
  display: flex;
  flex-direction: row;

  p {
    text-align: center;
    align-items: center;
  }
}


.postBody {

  p {
    line-height: 24px;
  }

  img {
    width: 100%;
  }

  pre {
    background-color: whitesmoke;
    padding: 16px;
  }

}